.c-places-autocomplete .c-places-autocomplete__searchbox{
    position: relative;
    background: #fff;
    border-radius: 6px;
    padding: 1rem;
    background: white;
    border: 1px solid #DADCE0;
    font-weight: bold;
    color: #bcdddf;
    line-height: 1.4;
    transition: all 0.5s ease-out;
    font-size: 1rem;
    width: calc(100% - 2rem);
    outline: none;
    
}

.c-places-autocomplete .c-places-autocomplete__searchbox[aria-expanded="true"]{
    border: 1px solid transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0px 2px rgba(0,0,0,0.2);
}

.c-places-autocomplete .c-places-autocomplete__searchbox::placeholder{
    color: #d8d8d8;
}

.c-places-autocomplete__list-box{
    transition: all 0.5s ease-out;
    cursor: pointer;
    list-style: none;
    padding: 1rem;
    background: white;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

div[data-reach-popover]{
    transition: all .25s ease;
    height: 0;
    top: 1rem;
    opacity: 0;
}

div[data-reach-popover]:not([hidden]){
    height: auto;
    opacity: 1;
    transform: translateY(0);
}

.c-places-autocomplete__list-box li{
    padding: 14px 0;
    font-size: 15px;
}

.c-places-autocomplete__list-box li span[data-suggested-value]{
    color: #ccc;
}

.c-places-autocomplete__list-box li span[data-user-value]{
    color: #000;
    font-weight: bold;
}

.c-places-autocomplete__list-box li[data-highlighted],
.c-places-autocomplete__list-box li[data-highlighted] span[data-suggested-value]{
    color: #000;
    font-weight: bold;
}

/* ============== */ 
/* SEARCH BUTTONS */ 
/* ============== */ 
.c-places-autocomplete .c-places-autocomplete__list-buttons{
    z-index:1;
    position: absolute;
    right: 0;
}

.c-places-autocomplete .c-places-autocomplete__close-button{ 
    background: none;
    padding: 16px 14px 12px 14px;
    border: none;
    position: absolute;
    right: 3.5rem;
    margin-top: 2px;
    margin-right: 1px;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.c-places-autocomplete .c-places-autocomplete__search-button{ 
    background: none;
    padding: 15px 14px 13px 14px;
    border: none;
    position: absolute;
    right: 0rem;
    margin-top: 2px;
    margin-right: 1px;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.c-places-autocomplete .c-places-autocomplete__search-image{ 
    height: 1.25rem;
}

@media (min-width: 920px) {
    .c-places-autocomplete {
        position: fixed;
        z-index: 1;
        width: 25%;
        min-width: 350px;
        max-width: 400px;
        padding: 1rem;
    }

    .c-places-autocomplete .c-places-autocomplete__search-button{ 
        right: 15px;
    }
}

@media (max-width: 920px) {

    .c-places-autocomplete .c-places-autocomplete__close-button{ 
        right: 3rem;
    }   
    
    .c-places-autocomplete {
        position: fixed;
        max-width: none;
        z-index: 1;
        width: calc(100% - 2rem);
        margin: 1rem;
    }

    .c-places-autocomplete .c-places-autocomplete__searchbox{
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        border: none;
    }

  

}

