body{
    margin: 0;
    font-family: "Open Sans";
}

.gmnoprint,
.gm-control-active,
.gm-style-cc,
a[href^="https://maps.google.com/maps"],
a[href^="http://maps.google.com/maps"]{
    display:none !important
}

.u-h6{
    margin: 0;
   font-size: .9rem; 
   font-family: "Open Sans";
    font-weight: 500;
}

.c-btn{
    cursor: pointer;
    outline: none;
    width: 100%;
    background-color: #ffb012;
    border-radius: 25px;
    border: none;
    padding: 0.5rem;
    font-size: .8rem;
    text-transform: uppercase;
}

.c-btn:hover,
.c-btn:focus{
    background-color: #ffb829;
}

.gm-style-iw.gm-style-iw-c{
    max-width: 200px !important;
    padding: 1rem 2rem .4rem 1rem !important;
}

.gm-ui-hover-effect{
    top: 5px !important;
    right: 2px !important;
    width: auto !important;
    height: auto !important;
}

.gm-ui-hover-effect img{
    width: 25px !important;
    height: 25px !important;
}